{% extends 'partials/base.html.twig' %}

{% block content %}


<div class="slider-container">
	<span id="slider-next"></span>
	<span id="slider-prev"></span>
	<div class="bxslider">
		 {% for page in taxonomy.findTaxonomy({'hierarchy':['homepage']}) %}
			 {% for image in page.media.images %}
				 {% if 	image == page.media['homepage.png'] or
				 		image == page.media['homepage.jpg'] or
				 		image == page.media['homepage1.png'] or
				 		image == page.media['homepage1.jpg'] or
				 		image == page.media['homepage2.png'] or
				 		image == page.media['homepage2.jpg'] or
				 		image == page.media['homepage3.png'] or
				 		image == page.media['homepage3.jpg'] or
				 		image == page.media['homepage4.png'] or
				 		image == page.media['homepage4.jpg'] or
				 		image == page.media['homepage5.png'] or
				 		image == page.media['homepage5.jpg']
				  %}	

					 <div class="slide-item">
					 	{% if page != page.find('/') %}
				   		<a href="{{ page.url }}">{{image.html}}</a>
				   		{# <div class="slide-caption">{{ page.title }}</div> #}
				   		{% else %}
				   		{{image.html}}
				   		{% endif %}
				   	</div>
	   			{% endif %}
	   		{% endfor %}
		{% endfor %}
	</div>
	<span class="home-next">Next</span>
	<span class="home-prev">Prev</span>
	{#
	<div class="slider-controls">
		<div class="slider-pager"></div>
	</div>
	#}
</div>


{% endblock %}


